@import 'functions.scss';
@import 'colors.scss';

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: calculate-rem(37);
    height: calculate-rem(37);
    fill: $light-gray4;
}

.icon-small {
    width: calculate-rem(21);
    height: calculate-rem(21);
}

.switch {
    margin-left: calculate-rem(16);
    width: calculate-rem(100);
}

.light {
    opacity: 0;
    transition: opacity 0.3s linear;
}

.enabled-light {
    opacity: 1;
}

.button-wrap {
    display: flex;
    flex-flow: column;
    &> * {
        margin-bottom: calculate-rem(20);
        &:last-child {
            margin-bottom: 0;
        }
    }
}