@import 'functions.scss';
@import 'colors.scss';

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrap {
    display: flex;
    flex-flow: column;
    margin-right: calculate-rem(10);
}

.icon {
    width: calculate-rem(65);
    height: calculate-rem(65);
    cursor: pointer;
    transition: fill 0.3s linear;
    fill: $light-gray4;
    margin-right: calculate-rem(26);
}

.slider {
    margin-bottom: calculate-rem(10);
}

.icon-small {
    cursor: default;
    width: calculate-rem(32);
    height: calculate-rem(32);
    margin-right: calculate-rem(12);
}
