@import 'functions.scss';
@import 'colors.scss';

.icon {
    width: calculate-rem(56);
    height: calculate-rem(56);
    fill: $light-gray4;
    margin-right: calculate-rem(10);
}

.icon-small {
    width: calculate-rem(32);
    height: calculate-rem(32);
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    box-sizing: border-box;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    transition: background-color 0.3s linear;
    background-image: linear-gradient(
        to top,
        $dark-gray4 0,
        rgba($dark-gray4, 0.9) 30%,
        rgba(255, 255, 255, 0) 100%
    );
    z-index: -1;
}

.low {
    background-color: $blue4;
}

.height {
    background-color: $red4;
}

.bar {
    transform-origin: center 70%;
    transition: transform 0.3s linear;
}

.inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
